:root {
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

h2 {
  margin-top: 0;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
}

header img {
  height: 30px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#location {
  background-color: #eaeaea;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 5px 7px -5px rgba(0, 0, 0, 0.2);
}

#top_text {
  background-color: #f6f6f6;
  text-align: center;
  padding: 44px 5% 57px 5%;
}

#top_text button {
  height: 50px;
  width: 58%;
  color: white;
  background: linear-gradient(178deg, #ff79da 20%, #9356dc 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.2);
}

#top_text button:hover {
  background: linear-gradient(178deg, #ff88de 20%, #9b63df 100%);
  -webkit-box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.2);
}

#fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 52px 0 48px 0;
}

#fonctionnement h2 {
  margin-left: 5%;
}

#fonctionnement button {
  background-color: #f6f6f6;
  height: 74px;
  width: 90%;
  margin: 12px auto;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.24);
  font-size: 100%;
  font-weight: bold;
  position: relative;
}

#fonctionnement button:hover {
  background: #f9f9f9;
  -webkit-box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.24);
}

#fonctionnement button span {
  position: absolute;
  left: -12px;
  width: 23px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 90%;
  background-color: #9356dc;
  border-radius: 50%;
  font-weight: normal;
}

#fonctionnement button i {
  color: grey;
  font-size: 110%;
  margin: 0 25px 0 -25px;
}

#fonctionnement .btn--selected {
  background-color: #f5edff;
}

#fonctionnement .btn--selected:hover {
  background: #f8f2ff;
  -webkit-box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.24);
}

#fonctionnement .btn--selected i {
  color: #9356dc;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 60px 0;
}

#restaurants h2 {
  margin-left: 5%;
}

#restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}

#restaurants a .new_tag {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 24%;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
}

#restaurants a img {
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants a .card_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 8% 20px 4%;
}

#restaurants a .card_descr p {
  margin: 0;
}

#restaurants a .card_descr i {
  font-size: 150%;
}

#restaurants a .card_descr .heart_full {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), to(#9356dc));
  background: linear-gradient(#ff79da 10%, #9356dc 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
}

#restaurants a .card_descr .hearts_container:hover .heart_empty {
  display: none;
}

#restaurants a .card_descr .hearts_container:hover .heart_full, #restaurants a .card_descr .hearts_container:hover .heart_full:before {
  display: block;
  -webkit-animation: fillup 1250ms;
          animation: fillup 1250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 200% 200%;
}

@-webkit-keyframes fillup {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fillup {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

footer {
  background-color: #353535;
  color: white;
  padding: 26px 5% 36px 5%;
}

footer i {
  margin-right: 10px;
}
/*# sourceMappingURL=index.css.map */