* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Shrikhand', cursive;
  margin-top: 0;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  position: relative;
}

header i {
  position: absolute;
  left: 23px;
  top: 25px;
  color: black;
}

header img {
  height: 30px;
}

#image {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin-bottom: -31px;
}

#menu {
  background-color: #f6f6f6;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding: 30px 5% 70px 5%;
}

#menu h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.7em;
}

#menu h2 .hearts_container {
  margin-left: 33px;
}

#menu h2 .heart_full {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), to(#9356dc));
  background: linear-gradient(#ff79da 10%, #9356dc 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
}

#menu h2 .hearts_container:hover .heart_empty {
  display: none;
}

#menu h2 .hearts_container:hover .heart_full, #menu h2 .hearts_container:hover .heart_full:before {
  display: block;
  -webkit-animation: fillup 1250ms;
          animation: fillup 1250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: 200% 200%;
}

@-webkit-keyframes fillup {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fillup {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#menu .subclass {
  -webkit-animation: fadeIn 500ms ease-in forwards;
          animation: fadeIn 500ms ease-in forwards;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#menu #plats {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

#menu #desserts {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

#menu .subtitle {
  position: relative;
  margin: 23px 0 24px 0;
}

#menu .underline {
  position: absolute;
  left: -1px;
  bottom: -9px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

#menu .menu_card {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-bottom: 14px;
  font-size: .9em;
}

#menu .menu_card .menu_card_text {
  margin: 15px 0 12px 4%;
  white-space: nowrap;
  overflow: hidden;
}

#menu .menu_card .special {
  white-space: normal;
  max-width: 260px;
}

#menu .menu_card .menu_card_text p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menu .menu_card .dish_name {
  font-size: 1.2em;
  margin-bottom: 2px;
}

#menu .menu_card .menu_card_slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .menu_card .menu_card_slide .price {
  position: absolute;
  bottom: 12px;
  font-size: 1.1em;
}

#menu .menu_card .menu_card_slide .checkmark {
  width: 0px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#menu .menu_card .menu_card_slide .checkmark i {
  font-size: 125%;
  color: white;
}

#menu .menu_card:hover .checkmark {
  width: 60px;
}

#menu .menu_card:hover .checkmark i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

#menu button {
  height: 50px;
  width: 50%;
  margin: 50px 25% 0 25%;
  color: white;
  background: linear-gradient(170deg, #ff79da 20%, #9356dc 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 3px 2px rgba(0, 0, 0, 0.2);
}

#menu button:hover {
  background: linear-gradient(170deg, #ff88de 20%, #9b63df 100%);
  -webkit-box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #353535;
  color: white;
  padding: 26px 5% 36px 5%;
}

footer img {
  width: 98px;
  margin-bottom: 5px;
}

footer i {
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=menus.css.map */